.wrapper{
  background: #d1d8e0;
}
.content{
  transition: width 0.25s ease, margin 0.25s ease;
  width: calc(100% - 265px);
  min-height: calc(100vh - 58px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding:15px;
}
.content-wrapper{
  display: flex;
  flex-direction: row;
}
.card-title{
  font-family: "opensans-semibold", sans-serif;
}
